.barco-principal-img{
    width: 100%;
}
.barco-box{
    position: absolute;
    right: 50px;
    bottom: 50px;
    display: grid;
    grid-template-rows: 118px 111px;
    background-color: #1A3243;
    height: 40%;
    width: 45%;
    opacity: 0.8;
  
  }
.barco-box-top{
    display: flex;
    /*  align-items: center;   */
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
   
}
.barco-box-top-text{
    font-size: 28px;
    color: white;    

    margin: 20px 0px 0px 5px ;
}
.barco-box-bottom{
    display: flex;
    justify-content: space-between;
  
    margin-left: 40px;
    margin: 0;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 25px;
    
   
}
.barco-box-bottom-img-div{
    width: 50px;
}
.barco-box-bottom-img{
    margin: 0px 10px 0px 0px;
    width: 100%;
    height: auto;
    display: inline-block;
}
.barco-box-bottom-text-div{
  
}
.barco-box-bottom-text{
    font-size: 18px;
    width: 435px;
    margin-left: 10px;
    color: white;
  
}
.barco-box-bottom-text-span{
    color: #C6B07F;
}

