.bottom-bar-div{
    display: grid;
    grid-template-columns: 50px 1fr 40px;
    background-color: rgb(184, 184, 184);
    height: 60px;
    width: 1210px;
}
.bottom-bar-box-left,
.bottom-bar-box-right{
    width: 50px;
   
    background-color: red;
}
