.bottom-bar-div{
    display: grid;
    grid-template-columns: 50px 1fr 40px;
    background-color: rgb(184, 184, 184);
    height: 60px;
    width: 1200px;
    justify-content: center;
    /* position: relative; */

}
.bottom-bar-text-div{
    margin: 5px 0px 0px 30px;
   
}
.bottom-bar-box-left{
    width: 50px;      
}
.bottom-bar-box-right{
    width: 45px;
    background-color: rgb(184, 184, 184);
}
