.double-boat-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    gap: 15px;
}
.left-boat-div{
    display: grid;
    /* flex-direction: column;    */
    
    grid-template-rows: 40px 30px 80px 215px;
}
.left-boat-div,.right-boat-div{
    margin: 15px 15px 0px 15px;
}
.left-boat-top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    background-color: rgb(27,180,232);
}
.left-boat-top-bar-img-div{
    display: flex;
    align-items: center;  
    /* border-style: solid;
    border-width: 1px;
    border-color: red;   */
}
.left-boat-top-bar-text{
    color: white;
}
.left-boat-texto-1-div,
.left-boat-texto-2-div{
    display: flex;
    
    /* border-style: solid;
    border-width: 1px;
    border-color: red; 
    margin: 0; */
}
.left-boat-texto-1{
    font-size: 16px;
    margin: 0;
    margin: 12px 0px 10px 0px;
}
.left-boat-texto-2{
    font-size: 12px;
    margin: 0;
    margin: 12px 0px 10px 0px;
}
.left-boat-img-div{
    display: flex;
    justify-content: center;
   
}
.left-boat-img{
    /* display: flex;
    width: 400px;
    align-items: center; */
    width: 100%;
}

.right-boat-div{
    display: grid;
    /* flex-direction: column;    */    
    grid-template-rows: 40px 30px 80px 215px;
}

.right-boat-top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    background-color: rgb(198,176,127);
}
.right-boat-top-bar-img-div{
    display: flex;
    align-items: center;    
}
.right-boat-top-bar-text{
    color: white;
}
.right-boat-texto-1-div,
.right-boat-texto-2-div{
    display: flex;
    
    /* border-style: solid;
    border-width: 1px;
    border-color: red; 
    margin: 0; */
}
.right-boat-texto-1{
    font-size: 16px;
    margin: 0;
    margin: 12px 0px 10px 0px;
}
.right-boat-texto-2{
    font-size: 12px;
    margin: 0;
    margin: 12px 0px 10px 0px;
}
.right-boat-img-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 500px; */
    gap: 10px;
    margin: 0px 20px 0px 20px; 
    border-width: 1px;
    border-color: red;
    border-style: solid;
}
.right-boat-img-1-div,
.right-boat-img-2-div,
.right-boat-img-3-div,
.right-boat-img-4-div{
    

}
.right-boat-img{
    width: 100%;    
    height: auto;
    object-fit: scale-down;   
}
