li:not(:last-child)::after{
  content: "|";
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}
li a{
  text-decoration: none;
  color: white;
}
html,body{
  margin: 0;
  height: 100%;
  padding: 0;       
}    
p{
  font-family: Quicksand, Arial;  
}