.whole-page{
    width: 1200px;
    position: relative;
  }
  .grid-columns{
    display: grid;
    grid-template-columns: 50px 1fr 40px;
    margin-bottom: 120px;
  }
  .middle-column{
    display: grid;
    grid-template-rows: 80px 1fr 400px;
  }
  .bottom-bar{
    background-color: rgb(184, 184, 184);
    height: 60px;
    width: 1210px;
  }
  .top-bar{
    display: flex;
    align-items: center;    
    background-color: #21272B;
    height: 80px;
    min-height: 60px;
    width: 100%;
    position: relative;
  }
  .middle-top-bar{
    display: flex;
    flex: 1;
    background-color: aqua;
    position: relative;
  }
  .left-bar-final{
    position: absolute;    
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background-color: lightgray;
    z-index: 2;
    opacity: 0.3;
    height: 1222px;
  }
  .right-bar-final{
    position: absolute;    
    right: -5px;
    top: 0;
    bottom: 0;
    width: 40px;
    background-color: lightgray;
    z-index: 2;
    /* padding-left: 20px; */
    opacity: 0.3;
    height: 1222px;
  }

  