.whole-page{
    width: 1200px;
    /* height: 900px; */
    /* display: grid;
    grid-template-rows: 1fr 60px;  */

  }
  .grid-columns{
    display: grid;
    grid-template-columns: 50px 1fr 40px;
    margin-bottom: 120px;
  }
  .left-column{
    background-color: lightgray;

    width: 50px;
  }
  .middle-column{
    display: grid;
    grid-template-rows: 80px 1fr 400px;
  }
  .right-column{
    background-color: lightgray;
    width: 40px;
  }
  .bottom-bar{
    /* position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px; */
    background-color: rgb(184, 184, 184);
    height: 60px;
    width: 1200px;
  }
  .top-bar{
    display: flex;
    align-items: center;    
    background-color: #21272B;
    height: 80px;
    min-height: 60px;
    width: 100%;
    position: relative;
  }
  .middle-top-bar{
    display: flex;
    flex: 1;
    background-color: aqua;
    position: relative;
  }
  .gambiarra-1{
    position: absolute;    
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background-color: lightgray;
    z-index: 2;

    height: 1222px;
  }
  .gambiarra-2{
    position: absolute;    
    right: 479px;
    top: 0;
    bottom: 0;
    width: 40px;
    background-color: lightgray;
    z-index: 2;

    height: 1222px;
  }

  